blinker
certifi
charset-normalizer
click
colorama
filelock
Flask
fsspec
huggingface-hub
idna
itsdangerous
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
PyYAML
regex
requests
safetensors
setuptools
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug
flask-cors
sentencepiece
protobuf
